@charset "ISO-8859-1";

.ui-layout-unit .ui-widget .ui-widget-content .ui-corner-all .ui-layout-north .layoutTemplete .ui-layout-pane .ui-layout-pane-north
	{
	border: none !important;
	margin: 0 0 0;
	background-image: url('topmenu/green_gradient_top.png') !important;
	padding: 13px 100% !important;
	width: 100% !important;
}

/* reduz o tamanho dos itens*/
.ui-widget {
	font-size: 12px !important;
}

/* remove bordas do Layout na pagina do template*/
.layoutTemplete {
	border: none;
	margin: 0 0 0;
}

/* Removendo bordas do painelgrid*/
.semBorda tr, .semBorda td, .semBorda td a img {
	border: none !important;
	padding: 0 0 0;
	margin: 0 0 0;
}

/*Remove o scrollbar do layoutunit center*/
.ui-layout-center {
	overflow: hidden !important;
	padding: 0 0 0;
}

.ui-layout-center .ui-layout-unit-content {
	overflow: hidden !important;
	padding: 0 0 0;
}

/*Remove o scrollbar do layoutunit north*/
.ui-layout-north {
	overflow: hidden !important;
	padding: 0 0 0;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: hidden !important;
	padding: 0 0 0;
}

/*Remove o scrollbar do layoutunit west*/
.ui-layout-west {
	overflow: hidden !important;
	padding: 0 0 0;
}

.ui-layout-west .ui-layout-unit-content {
	overflow: hidden !important;
	padding: 0 0 0;
}

/*Remove o scrollbar do layoutunit east*/
.ui-layout-east {
	overflow: hidden !important;
	padding: 0 0 0;
}

.ui-layout-east .ui-layout-unit-content {
	overflow: hidden !important;
	padding: 0 0 0;
}

/*Remove o scrollbar do layoutunit south*/
.ui-layout-south {
	overflow: hidden !important;
	padding: 0 0 0;
}

.ui-layout-south .ui-layout-unit-content {
	overflow: hidden !important;
	padding: 0 0 0;
}

/* Posicionando objetos do conteudo header */
#dv_nome {
	position: absolute;
	margin-top: 0px;
	width: 250px;
	height: 45px;
}

#dv_engrenagem {
	position: relative;
	width: 40px;
	height: 45px;
	margin: 0 0 0;
	padding: 0 0 0;
	float: right;
}