<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition>
	<h:form>
		<p:accordionPanel value="#{accordionPanelView.conteudoCurriculos}"
			var="cont">
			<p:tab title="#{cont.item}">
				<h:panelGrid columns="1" cellpadding="5">
					
					<h:outputText value="#{cont.subItem}" />
					<h:outputText value="#{cont.conteudo}" />
				</h:panelGrid>
			</p:tab>
		</p:accordionPanel>
		<p:accordionPanel value="Envie um Email">
			<p:tab title="E-mail">
				<h:panelGrid columns="1" cellpadding="5">
					<ui:include src="/body/content/form_email.xhtml" />
				</h:panelGrid>
			</p:tab>
		</p:accordionPanel>
	</h:form>
</ui:composition>
</html>