<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition>
	<h:form>
		<p:panelGrid columns="2" styleClass="semBorda">
			<h:outputLabel value="Titulo:" />
			<h:inputText value="#{indexController.mensagem.titulo}" />
			<h:outputLabel value="Mensagem:" />
			<h:inputTextarea value="#{indexController.mensagem.mensagem}"
				rows="10" cols="50" />
			<p:commandButton action="#{indexController.enviaEmail()}"
				value="Enviar" />
		</p:panelGrid>
	</h:form>
</ui:composition>
</html>