<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition>
	<h:form>
		<h:panelGrid columns="1" cellpadding="5">
			<p:photoCam widgetVar="pc" listener="#{photoCamView.oncapture}"
				update="photo" />

			<p:commandButton type="button" value="Capture"
				onclick="PF('pc').capture()" />
			<p:outputPanel id="photo">
				<p:graphicImage
					name="demo/images/photocam/#{photoCamView.filename}.jpeg"
					rendered="#{not empty photoCamView.filename}" />
			</p:outputPanel>

		</h:panelGrid>
	</h:form>
</ui:composition>
</html>