<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition>
	<h:form>
		<p:dataList value="#{progressoVIEW.progressos}" var="prg"
			type="definition">
			<f:facet name="header">
							Conhecimento
			</f:facet>
			
			<div align="center">
				<h:outputText value="#{prg.conhecimento}" />
				<p:rating value="#{prg.progresso}" readonly="true" />
			</div>
			
		</p:dataList>
	</h:form>
</ui:composition>
</html>