<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition>
	<div  align="right" >
		<p:panelGrid columns="3" styleClass="semBorda">
			<p:link href="https://www.facebook.com/lennon.kp">
				<img  src="./resources/icon/facebook.png" height="30" width="30" />
			</p:link>
			<p:link
				href="https://www.linkedin.com/in/lennon-c-palmério-970937102/">
				<img src="./resources/icon/linkedin.png" height="30" width="30" />
			</p:link>
			<p:link href="lcpalmerio@latam.stefanini.com" >
				<img src="./resources/icon/skype.png" height="30" width="30" />
			</p:link>
		</p:panelGrid>
	</div>
</ui:composition>
</html>