<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
<link rel="StyleSheet" type="text/css" href="./resources/css/estilos.css" media="screen" />
</h:head>
<h:body>
	<p:layout id="id_fullpage" fullPage="true" >
	
<!-- Está na pasta /header/ -->
		<p:layoutUnit position="north" size="70" styleClass="layoutTemplete" >
			<ui:insert name="north">
				<ui:include src="/body/header/header.xhtml" />
			</ui:insert>
		</p:layoutUnit>
<!-- Está na pasta /header/ -->

<!-- Está na pasta /content/ -->
		<p:layoutUnit position="west" size="280">
			<ui:insert name="west">
				<ui:include src="/body/content/progresso.xhtml" />
			</ui:insert>
		</p:layoutUnit>
		<p:layoutUnit position="center" size="50">
			<ui:insert name="center">
				<ui:include src="/body/content/accordionPanel.xhtml" />
			</ui:insert>
		</p:layoutUnit>
		<p:layoutUnit position="east" size="50">
			<ui:insert name="east">Oest
				<ui:include src="" />
			</ui:insert>
		</p:layoutUnit>
<!-- Está na pasta /content/ -->

<!-- Está na pasta /footer/ -->
		<p:layoutUnit position="south" size="50" styleClass="layoutTemplete" >
			<ui:insert name="south">
				<ui:include src="/body/footer/footer.xhtml" />
			</ui:insert>
		</p:layoutUnit>
<!-- Está na pasta /footer/ -->

	</p:layout>
</h:body>
</html>
