<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition>
	<div id="dv_nome" style="border: solid; border-color: blue;">
		<p:outputLabel value="Lennon da Cunha Palmério" />
	</div>

	<div id = "dv_engrenagem"  style="border: solid; border-color: blue;" >
		<p:link href="lcpalmerio@latam.stefanini.com">
			<img src="./resources/icon/engrenagem.png" height="30" width="30" />
		</p:link>
	</div>

</ui:composition>
</html>